@use '_table';
@use '_darkmode';
$bgcol3:#f9f9f9;

* {
    font-family: Arial, Helvetica, sans-serif;
}



h1{
    text-align: center;
    width: 100%;
}
nav{
    width: 20%;
    height: 50%;
    button{
    padding: 3%;
}
}
div{
    width: 70%;
    height: 50%;
    text-align: center;
    [type="button"]{
        padding: 1%;
    }
}
article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body>*{
    outline: 3px solid black;
    border-radius: 20px;
    padding: 1.5%;
    margin: 1%;

}
body>*:hover{
    background-color: $bgcol3;
}
body{
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}
button, [type="button"]{
    color: white;
    background-color: black;
    border: none;
    border-radius: 10%;
}
label, button {
    display: block;
    margin-bottom: 5px;
}
