* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
td{
            border: 1px solid darkblue;
           
        }
table{
     border-collapse: collapse;
}
tr:hover{
    background-color: darkblue;
}
h1{
    text-align: center;
}
nav{
    width: 20%;
    height: 50%;
}
div{
    width: 70%;
    height: 50%;
    text-align: center;
}
article{
    width: 100%;
}
body>*{

    outline: 1px solid darkblue;
    border-radius: 20px;
    padding: 1.5%;
    margin: 1%;

}
body>*:hover{
    background-color: #1d1d1d;
}
body{
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    background-color: black;
}
label, button {
    display: block;
    margin-bottom: 5px;
}
nav button{

    padding: 3%;
}
input, button{
    background-color: darkblue;
    border: none;
}
